@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
    background: #f5f7fa;
    transition: opacity 0.4s;
}

body.fade-out {
  opacity: 0;
}

.top-container {
    width: 100%;
    background: var(--secondary-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header h1 {
    font-family: 'Gabarito', cursive;
    font-size: 2rem;
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
}


.logo img {
    height: 48px;
    width: 48px;
}

.header h1 {
    font-family: 'Gabarito', cursive;
    font-size: 2rem;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
}

.nav-menu {
    margin-top: 12px;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 0 0;
    margin: 0px 0px 10px 0px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s;
    padding: 5px 10px;
    border-radius: 15px
}

.menu-list li a:hover {
    color: var(--secondary-color);
    background: var(--background-color);
    border-radius: 15px;
    font-weight: 600;
    line-height: 1px;
    transition: ease-in-out 300ms;
}
