.main-content {
    background: #fff7dd;
}

.hero-section h2, p {
    color: #000000;
    text-align: center;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 30px 0 0 0;
}

.hero-section p {
    font-size: 1.05rem;
    margin: 0;
    padding: 24px 0 20px 0;
}

.hero-section h2 .h2-title {
    background: #f76d6d;
    padding: 8px 12px;
    border-radius: 30px;
    color: white;
}

.hero-section .banner-image{
    background: #f76d6d;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 0 50px;
}

.hero-section .banner-image .banner-text {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    max-width: 500px;
}

.hero-section .banner-image .banner-text h3 {
    font-size: 4.5rem;
    font-weight: 800;
}

.hero-section .banner-image .banner-text button {
    background: #fff7dd;
    border: 2px solid #5c1818;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    color:#000000;
    padding: 15px 30px;
    margin-bottom: 100px;
}

.hero-section .banner-image .banner-text button:hover {
    background: #5c1818;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.hero-section .banner-image img{
    width: 100%;
    height: auto;
    max-width: 850px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section .banner-image img:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

