@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #f5f7fa;
}


.main-content {
    background: #fff7dd;
}

.hero-section h2, p {
    color: #000000;
    text-align: center;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 30px 0 0 0;
}

.hero-section p {
    font-size: 1.05rem;
    margin: 0;
    padding: 24px 0 20px 0;
}

.hero-section h2 .h2-title {
    background: var(--primary-color);
    padding: 8px 12px;
    border-radius: 30px;
    color: white;
}

.hero-section .banner-image{
    background: var(--primary-color);
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 0 50px;
}

.hero-section .banner-image .banner-text {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    max-width: 500px;
}

.hero-section .banner-image .banner-text h3 {
    font-size: 4.5rem;
    font-weight: 800;
}

.hero-section .banner-image .banner-text button {
    background: #fff7dd;
    border: 2px solid var(--terciary-color);
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    color:#000000;
    padding: 15px 30px;
    margin-bottom: 100px;
}

.hero-section .banner-image .banner-text button:hover {
    background: var(--terciary-color);
    color: var(--background-color);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.hero-section .banner-image img{
    width: 100%;
    height: auto;
    max-width: 850px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section .banner-image img:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.products-section {
    padding: 50px 0;
    background: var(--background-color);
}

.products-section h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gabarito', cursive;
    font-weight: 700;
    letter-spacing: 1px;
}

.products-section h4 {
    
}

.products-section .product-list {
    background: var(--quartenary-color);
    margin: 0 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 24px; /* Espaço entre os itens */
    padding: 24px;
}

.products-section .product-list .product-item {
    background: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 2/3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}